Repository mcfitz2/lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: isort, black, flake8, ansible-lint

Path conditions:
  isort: any of: applications/formula1/**/*, .gitlab-ci.yml
  black: any of: applications/formula1/**/*, .gitlab-ci.yml
  flake8: any of: applications/formula1/**/*, .gitlab-ci.yml
  ansible-lint: any of: ansible/**/*, .gitlab-ci.yml

disable ansible build
  .github/workflows/ci.yaml
  ansible/playbooks/site.yml
Due: ansible-lint

fix f1 dockerfile
  applications/formula1/Dockerfile
Due: isort, black, flake8

increase total limit, ignore season and ep filters, update CI
  .github/workflows/ci.yaml
  applications/formula1/formula1/matcher.py
Due: isort, black, flake8

add logging to CI
  .github/workflows/ci.yaml
Due: none

use master branch in ci
  .github/workflows/ci.yaml
Due: none

add caching to f1
  applications/formula1/main.py
  applications/formula1/pyproject.toml
  applications/formula1/uv.lock
Due: isort, black, flake8

fix enclosure
  applications/formula1/main.py
Due: isort, black, flake8

unescape enclosure
  applications/formula1/main.py
Due: isort, black, flake8

change to newznab
  applications/formula1/main.py
Due: isort, black, flake8

add grocy deployment
  ansible/inventory/group_vars/all.yml
  ansible/roles/grocy/tasks/main.yml
  ansible/roles/grocy/templates/deployment.yaml.j2
  ansible/roles/grocy/templates/ingress.yaml.j2
  ansible/roles/grocy/templates/persistentvolumeclaim.yaml.j2
  ansible/roles/grocy/templates/service.yaml.j2
Due: ansible-lint
