Repository mcfitz2/lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ansible, build-workflows, build-prefect-exporter, build-fidelity-calendar, build-habit

build-ansible:
  image: docker:latest
  services:
  - docker:dind
  stage: build
  script:
  - cd ansible
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ansible_runner:$CI_COMMIT_SHORT_SHA .
  ...

build-workflows:
  image: docker:latest
  services:
  - docker:dind
  stage: build
  script:
  - cd applications/greatlakes
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker compose build
  - docker compose push

build-prefect-exporter:
  image: docker:latest
  services:
  - docker:dind
  stage: build
  script:
  - cd applications/prometheus-prefect-exporter
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-fidelity-calendar:
  image: docker:latest
  services:
  - docker:dind
  stage: build
  script:
  - cd applications/fidelity_calendar
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/fidelity_calendar:$CI_COMMIT_SHORT_SHA .
  ...

build-habit:
  image: docker:latest
  services:
  - docker:dind
  stage: build
  script:
  - cd applications/habit
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/habit:$CI_COMMIT_SHORT_SHA .
  ...

include magic mirror in repo
  .gitlab-ci.yml
  applications/magic-mirror-home/.gitignore
  applications/magic-mirror-home/.gitlab-ci.yml
  applications/magic-mirror-home/Dockerfile
  applications/magic-mirror-home/config/config.js.template
  applications/magic-mirror-home/install_modules.py
  applications/magic-mirror-home/modules.yaml
  applications/magic-mirror/.gitignore
  applications/magic-mirror/Dockerfile
  applications/magic-mirror/config/config.js.template
  applications/magic-mirror/install_modules.py
  applications/magic-mirror/modules.yaml
Due: none

setup prometheus-operator in cluster
  ansible/inventory/group_vars/all.yml
  ansible/roles/prometheus-operator/tasks/main.yml
Due: build-ansible

increase specs of monitoring LXC
  ansible/roles/monitoring_infra/tasks/main.yml
Due: build-ansible

fix base url, remove caching from oauth service
  ansible/playbooks/site.yml
  ansible/roles/greatlakes/templates/oauth-deployment.yaml.j2
  applications/greatlakes/oauth-service/main.py
Due: build-ansible, build-workflows

migrate prowlarr, pgadmin,grafana,overseerr,tautulli. Build formula1 in CI
  .gitlab-ci.yml
  ansible/inventory/group_vars/all.yml
  ansible/roles/applications/general/templates/docker-compose.yml.j2
  ansible/roles/applications/media/templates/docker-compose.yml.j2
  ansible/roles/grafana/tasks/main.yml
  ansible/roles/grafana/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/grafana/templates/deployment.yaml.j2
  ansible/roles/grafana/templates/ingress.yaml.j2
  ansible/roles/grafana/templates/service.yaml.j2
  ansible/roles/kasm_chrome/tasks/main.yml
  ansible/roles/kasm_chrome/templates/deployment.yaml.j2
  ansible/roles/kasm_chrome/templates/ingress.yaml.j2
  ansible/roles/kasm_chrome/templates/service.yaml.j2
  ansible/roles/overseer/templates/ingress.yaml.j2
  ansible/roles/overseer/templates/service.yaml.j2
  ansible/roles/pgadmin/tasks/main.yml
  ansible/roles/pgadmin/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/pgadmin/templates/deployment.yaml.j2
  ansible/roles/pgadmin/templates/ingress.yaml.j2
  ansible/roles/pgadmin/templates/service.yaml.j2
  ansible/roles/prowlarr/tasks/main.yml
  ansible/roles/prowlarr/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/prowlarr/templates/deployment.yaml.j2
  ansible/roles/prowlarr/templates/ingress.yaml.j2
  ansible/roles/prowlarr/templates/service.yaml.j2
  ansible/roles/radarr/templates/ingress.yaml.j2
  ansible/roles/tautulli/templates/deployment.yaml.j2
Due: build-ansible

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

lint fixes
  .ansible-lint
  .gitlab-ci.yml
  ansible/inventory/group_vars/all.yml
  ansible/playbooks/site.yml
  ansible/requirements.yml
  ansible/roles/greatlakes/tasks/main.yml
  ansible/roles/k3s_infra/tasks/main.yml
  ansible/roles/k3s_nfs_server/tasks/main.yml
  ansible/roles/k3s_postconfig/tasks/main.yml
  ansible/roles/prefect_exporter/tasks/main.yml
  ansible/roles/prefect_exporter/templates/deployment.yaml.j2
  ansible/roles/prefect_exporter/templates/service.yaml.j2
  ansible/roles/prometheus_operator/tasks/main.yml
  ansible/roles/pve_backup/tasks/main.yml
  ansible/roles/pve_exporter/restore.yml
  ansible/roles/pve_exporter/tasks/main.yml
  ansible/roles/pve_exporter/templates/configmap.yaml.j2
  ansible/roles/pve_exporter/templates/deployment.yaml.j2
  ansible/roles/pve_exporter/templates/service.yaml.j2
  get_secret.py
Due: build-ansible

include formula1
  applications/formula1/.flake8
  applications/formula1/.gitlab-ci.yml
  applications/formula1/Dockerfile
  applications/formula1/formula1/__init__.py
  applications/formula1/formula1/demonyms.py
  applications/formula1/formula1/feeds.py
  applications/formula1/formula1/grand_prix.py
  applications/formula1/main.py
  applications/formula1/requirements.txt
Due: none

fixing lint issues
  .flake8
  applications/formula1/formula1/feeds.py
  applications/formula1/main.py
Due: none

fix syntax error, make black check only
  .gitlab-ci.yml
  applications/formula1/formula1/feeds.py
  applications/formula1/main.py
Due: none

migrate formula1
  .gitlab-ci.yml
  ansible/playbooks/site.yml
  ansible/roles/formula1/tasks/main.yml
  ansible/roles/formula1/templates/deployment.yaml.j2
  ansible/roles/formula1/templates/service.yaml.j2
Due: build-ansible

trying to fix ansible lint. also migrated jackett
  .gitlab-ci.yml
  ansible/playbooks/site.yml
  ansible/roles/applications/greatlakes/templates/docker-compose.yml.j2
  ansible/roles/applications/media/templates/docker-compose.yml.j2
  ansible/roles/jackett/tasks/main.yml
  ansible/roles/jackett/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/jackett/templates/deployment.yaml.j2
  ansible/roles/jackett/templates/service.yaml.j2
Due: build-ansible

update inventory, fix ci
  .gitlab-ci.yml
  ansible/inventory/inventory.yml
  ansible/roles/applications/home-automation/templates/docker-compose.yml.j2
  ansible/roles/applications/media/templates/docker-compose.yml.j2
Due: build-ansible

setup magic mirror, monica, nzbget, transmission, tube_archivist
  ansible/inventory/group_vars/all.yml
  ansible/playbooks/site.yml
  ansible/roles/k3s_infra/tasks/main.yml
  ansible/roles/magic_mirror/tasks/main.yml
  ansible/roles/magic_mirror/templates/deployment.yaml.j2
  ansible/roles/magic_mirror/templates/ingress.yaml.j2
  ansible/roles/magic_mirror/templates/service.yaml.j2
  ansible/roles/monica/tasks/main.yml
  ansible/roles/monica/templates/deployment.yaml.j2
  ansible/roles/monica/templates/ingress.yaml.j2
  ansible/roles/monica/templates/persistentvolumeclaim.yaml.j2
  ansible/roles/monica/templates/service.yaml.j2
  ansible/roles/nzbget/restore.yml
  ansible/roles/nzbget/tasks/main.yml
  ansible/roles/nzbget/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/nzbget/templates/deployment.yaml.j2
  ansible/roles/nzbget/templates/ingress.yaml.j2
  ansible/roles/nzbget/templates/service.yaml.j2
  ansible/roles/transmission/tasks/main.yml
  ansible/roles/transmission/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/transmission/templates/deployment.yaml.j2
  ansible/roles/transmission/templates/ingress.yaml.j2
  ansible/roles/transmission/templates/service.yaml.j2
  ansible/roles/tube_archivist/tasks/main.yml
  ansible/roles/tube_archivist/templates/cache-persistentvolumeclaim.yaml.j2
  ansible/roles/tube_archivist/templates/es-persistentvolumeclaim.yaml.j2
  ansible/roles/tube_archivist/templates/ingress.yaml.j2
  ansible/roles/tube_archivist/templates/redis-persistentvolumeclaim.yaml.j2
  ansible/roles/tube_archivist/templates/tubearchivist-deployment.yaml.j2
  ansible/roles/tube_archivist/templates/tubearchivist-service.yaml.j2
  applications/magic-mirror-home/Dockerfile
  applications/magic-mirror-home/config/config.js.template
  applications/magic-mirror-home/modules.yaml
Due: build-ansible

setup gitlab runners in cluster
  ansible/inventory/group_vars/all.yml
  ansible/playbooks/site.yml
  ansible/roles/gitlab_runner/tasks/main.yml
Due: build-ansible

matrix build
  .gitlab-ci.yml
Due: none

finish parallel matrix changes
  .gitlab-ci.yml
Due: none

trigger all jobs on CI changes, change pod affinity rules for CI jobs
  .gitlab-ci.yml
  ansible/roles/gitlab_runner/tasks/main.yml
Due: build-ansible

fix incorrect extension
  .gitlab-ci.yml
Due: none

try enabling caching, fix incorrect path
  .gitlab-ci.yml
Due: none

fix another CI issue
  .gitlab-ci.yml
  applications/greatlakes/airport_locations/Dockerfile
Due: build-workflows

CI changes
  .gitlab-ci.yml
  ansible/roles/gitlab_runner/tasks/main.yml
Due: build-ansible

clean up, go back to DIND for CI
  .gitlab-ci.yml
  ansible/inventory/group_vars/all.yml
  ansible/inventory/inventory.yml
  ansible/playbooks/site.yml
  ansible/playbooks/utils/backup_restore.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/k3s_infra/tasks/main.yml
  ansible/roles/k3s_nfs_server/tasks/main.yml
  ansible/roles/plex/tasks/main.yml
Due: build-ansible

more changes for gitlab runner
  .gitignore
  .gitlab-ci.yml
  ansible/inventory/group_vars/all.yml
  ansible/inventory/inventory.yml
  ansible/requirements.yml
  ansible/roles/create_lxc/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
Due: build-ansible

fix CI
  .gitignore
  .gitlab-ci.yml
  ansible/requirements.yml
Due: build-ansible

Remove key
  applications/formula1/formula1/feeds.py
Due: none

fix fidelity api key
  .gitignore
  ansible/inventory/group_vars/all.yml
  ansible/roles/fidelity_calendar/templates/deployment.yaml.j2
  applications/fidelity_calendar/app.py
Due: build-ansible, build-fidelity-calendar

fix linting
  .gitlab-ci.yml
  applications/formula1/formula1/feeds.py
Due: none

fix linting again
  applications/formula1/formula1/feeds.py
Due: none

start work on geocoder in k3s, add alerts for HA devices
  ansible/inventory/group_vars/all.yml
  ansible/playbooks/site.yml
  ansible/roles/k3s_nfs_server/tasks/main.yml
Due: build-ansible

Path conditions:
  build-ansible: any of: ansible/**/*
  build-workflows: any of: applications/greatlakes/**/*
  build-prefect-exporter: any of: applications/prometheus-prefect-exporter/**/*
  build-fidelity-calendar: any of: applications/fidelity_calendar/**/*
  build-habit: any of: applications/habit/**/*
