Repository mcfitz2/lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: isort, black, flake8, ansible-lint

isort:
  stage: linting
  image: registry.gitlab.com/mafda/python-linting
  script:
  - isort applications/formula1 --check-only

black:
  stage: linting
  image: registry.gitlab.com/mafda/python-linting
  script:
  - black --check applications/formula1

flake8:
  stage: linting
  image: registry.gitlab.com/mafda/python-linting
  script:
  - flake8 applications/formula1

ansible-lint:
  stage: linting
  image: registry.gitlab.com/pipeline-components/ansible-lint:latest
  script:
  - cd ansible
  - export ANSIBLE_ROLES_PATH=$(pwd)/roles
  - ansible-lint --show-relpath .
  allow_failure: true

add rtorrent, add new finance metrics
  ansible/inventory/group_vars/all.yml
  ansible/inventory/inventory.yml
  ansible/roles/rtorrent/tasks/main.yml
  ansible/roles/rtorrent/templates/config-persistentvolumeclaim.yaml.j2
  ansible/roles/rtorrent/templates/deployment.yaml.j2
  ansible/roles/rtorrent/templates/ingress.yaml.j2
  ansible/roles/rtorrent/templates/service.yaml.j2
  ansible/roles/transmission/templates/service.yaml.j2
  applications/greatlakes/db_tasks/master_flow.py
Due: ansible-lint

continue on error
  applications/greatlakes/mortgage_rates/master_flow.py
Due: none

add json endpoint
  applications/fidelity_calendar/app.py
Due: none

add chicahgo
  .gitlab-ci.yml
  ansible/playbooks/site.yml
  ansible/roles/chicahgo/tasks/main.yml
  ansible/roles/chicahgo/templates/deployment.yaml.j2
  ansible/roles/chicahgo/templates/ingress.yaml.j2
  ansible/roles/chicahgo/templates/secret.yaml.j2
  ansible/roles/chicahgo/templates/service.yaml.j2
  applications/chicahgo/Dockerfile
  applications/chicahgo/README.md
  applications/chicahgo/pyproject.toml
  applications/chicahgo/src/backend.egg-info/PKG-INFO
  applications/chicahgo/src/backend.egg-info/SOURCES.txt
  applications/chicahgo/src/backend.egg-info/dependency_links.txt
  applications/chicahgo/src/backend.egg-info/requires.txt
  applications/chicahgo/src/backend.egg-info/top_level.txt
  applications/chicahgo/src/house_service.py
  applications/chicahgo/src/main.py
  applications/chicahgo/src/models.py
  applications/chicahgo/src/nearest.py
  applications/chicahgo/src/processor.py
  applications/chicahgo/src/utils.py
  applications/chicahgo/uv.lock
Due: isort, black, flake8, ansible-lint

update gitignore
  .gitignore
Due: none

fix deployment and db url
  ansible/inventory/group_vars/all.yml
  ansible/roles/chicahgo/templates/deployment.yaml.j2
  applications/chicahgo/src/main.py
Due: ansible-lint

add logging
  applications/chicahgo/src/main.py
Due: none

use correct driver
  applications/chicahgo/src/main.py
Due: none

fix ingress and add logging
  ansible/roles/chicahgo/templates/ingress.yaml.j2
  applications/chicahgo/src/main.py
Due: ansible-lint

fix logging
  applications/chicahgo/src/main.py
Due: none

what is going on
  applications/chicahgo/src/main.py
  applications/chicahgo/src/processor.py
Due: none

add grocery stores
  ansible/roles/chicahgo/templates/deployment.yaml.j2
  applications/chicahgo/src/main.py
  applications/chicahgo/src/processor.py
Due: ansible-lint

skip failures
  .gitignore
  ansible/roles/chicahgo/tasks/main.yml
  ansible/roles/chicahgo/templates/local_env.j2
  applications/chicahgo/src/models.py
  applications/chicahgo/src/processor.py
Due: ansible-lint

fix gitlab runner
  .gitlab-ci.yml
  ansible/inventory/group_vars/all.yml
  ansible/inventory/inventory.yml
  ansible/roles/create_lxc/tasks/main.yml
  ansible/roles/gitlab_runner/tasks/main.yml
  ansible/roles/gitlab_runner/templates/config.toml.j2
  ansible/roles/python_packages/tasks/main.yml
  ansible/roles/python_packages/templates/config.toml.j2
  applications/chicahgo/pyproject.toml
  applications/chicahgo/uv.lock
Due: isort, black, flake8, ansible-lint

mark deleted transactions as deleted
  applications/greatlakes/ynab/master_flow.py
Due: none

add prototype namada exporter
  .gitignore
  applications/chicahgo/src/processor.py
  applications/namada_exporter/.gitignore
  applications/namada_exporter/Cargo.lock
  applications/namada_exporter/Cargo.toml
  applications/namada_exporter/src/main.rs
Due: none

finish prototype and add dockerfile
  applications/namada_exporter/Dockerfile
  applications/namada_exporter/src/main.rs
Due: none

Add CI workflow
  .github/workflows/ci.yaml
  .gitignore
Due: none

add build for namada_exporter
  .github/workflows/ci.yaml
Due: none

remove retries
  .github/workflows/ci.yaml
Due: none

disable secret detection for now
  .github/workflows/ci.yaml
Due: none

fix
  .github/workflows/ci.yaml
Due: none

trying to fix ci
  .github/workflows/ci.yaml
  applications/chicahgo/Dockerfile
Due: none

change tag
  .github/workflows/ci.yaml
Due: none

not sure why this is needed
  .github/workflows/ci.yaml
Due: none

update image tags
  .github/workflows/ci.yaml
Due: none

fix submodule issue
  applications/geocoder/.gitignore
  applications/geocoder/.gitlab-ci.yml
  applications/geocoder/docker-compose.yml
  applications/geocoder/generate.py
  applications/geocoder/nominatim-docker/.all-contributorsrc
  applications/geocoder/nominatim-docker/.gitignore
  applications/geocoder/nominatim-docker/4.2/Dockerfile
  applications/geocoder/nominatim-docker/4.2/README.md
  applications/geocoder/nominatim-docker/4.2/conf.d/apache.conf
  applications/geocoder/nominatim-docker/4.2/conf.d/env
  applications/geocoder/nominatim-docker/4.2/conf.d/postgres-import.conf
  applications/geocoder/nominatim-docker/4.2/conf.d/postgres-tuning.conf
  applications/geocoder/nominatim-docker/4.2/config.sh
  applications/geocoder/nominatim-docker/4.2/contrib/docker-compose-planet.yml
  applications/geocoder/nominatim-docker/4.2/contrib/docker-compose.yml
  applications/geocoder/nominatim-docker/4.2/init.sh
  applications/geocoder/nominatim-docker/4.2/start.sh
  applications/geocoder/nominatim-docker/4.2/startapache.sh
  applications/geocoder/nominatim-docker/4.2/startpostgres.sh
  applications/geocoder/proxy/Dockerfile
  applications/geocoder/proxy/generate_polygons.py
  applications/geocoder/proxy/package-lock.json
  applications/geocoder/proxy/package.json
  applications/geocoder/proxy/server.js
  applications/geocoder/requirements.txt
  applications/geocoder/run.sh
  applications/geocoder/template.yml
  applications/geocoder/values.yml
Due: none

update image tags
  ansible/roles/chicahgo/templates/deployment.yaml.j2
  ansible/roles/fidelity_calendar/templates/deployment.yaml.j2
  ansible/roles/formula1/templates/deployment.yaml.j2
  ansible/roles/greatlakes/templates/austin-energy-deployment.yaml.j2
  ansible/roles/greatlakes/templates/calls-deployment.yaml.j2
  ansible/roles/greatlakes/templates/db-tasks-deployment.yaml.j2
  ansible/roles/greatlakes/templates/fitbit-api-deployment.yaml.j2
  ansible/roles/greatlakes/templates/geocoding-deployment.yaml.j2
  ansible/roles/greatlakes/templates/gmail-deployment.yaml.j2
  ansible/roles/greatlakes/templates/instagram-deployment.yaml.j2
  ansible/roles/greatlakes/templates/mortgage-rates-deployment.yaml.j2
  ansible/roles/greatlakes/templates/oauth-deployment.yaml.j2
  ansible/roles/greatlakes/templates/postgres-backup-deployment.yaml.j2
  ansible/roles/greatlakes/templates/row-counts-deployment.yaml.j2
  ansible/roles/greatlakes/templates/sms-deployment.yaml.j2
  ansible/roles/greatlakes/templates/stocks-deployment.yaml.j2
  ansible/roles/greatlakes/templates/strava-api-deployment.yaml.j2
  ansible/roles/greatlakes/templates/takeout-deployment.yaml.j2
  ansible/roles/greatlakes/templates/weather-deployment.yaml.j2
  ansible/roles/greatlakes/templates/wrench-a-part-deployment.yaml.j2
  ansible/roles/greatlakes/templates/ynab-deployment.yaml.j2
  ansible/roles/magic_mirror/templates/deployment.yaml.j2
  ansible/roles/prefect_exporter/templates/deployment.yaml.j2
  applications/geocoder/docker-compose.yml
  applications/geocoder/template.yml
  applications/greatlakes/docker-compose.yml
Due: ansible-lint

fix namada exporter
  ansible/inventory/group_vars/all.yml
  ansible/roles/namada_exporter/tasks/main.yml
  ansible/roles/namada_exporter/templates/deployment.yaml.j2
  ansible/roles/namada_exporter/templates/service.yaml.j2
Due: ansible-lint

increase prometheus retention
  ansible/inventory/group_vars/all.yml
  ansible/playbooks/site.yml
Due: ansible-lint

add mac mini
  ansible/inventory/inventory.yml
Due: ansible-lint

changes from dev machine
  ansible/inventory/inventory.yml
Due: ansible-lint

turn off for sale filter
  applications/chicahgo/src/processor.py
Due: none

revamp f1 search
  .gitignore
  applications/formula1/.gitlab-ci.yml
  applications/formula1/Dockerfile
  applications/formula1/formula1/demonyms.py
  applications/formula1/formula1/feeds.py
  applications/formula1/formula1/grand_prix.py
  applications/formula1/formula1/matcher.py
  applications/formula1/main.py
  applications/formula1/pyproject.toml
  applications/formula1/requirements.txt
  applications/formula1/uv.lock
Due: isort, black, flake8

first draft of vm creation playbook
  ansible/playbooks/vm_template.yml
Due: ansible-lint

update ubuntu version
  ansible/Dockerfile
Due: ansible-lint

deprecate applications
  .github/workflows/ci.yaml
Due: none

Path conditions:
  isort: any of: applications/formula1/**/*, .gitlab-ci.yml
  black: any of: applications/formula1/**/*, .gitlab-ci.yml
  flake8: any of: applications/formula1/**/*, .gitlab-ci.yml
  ansible-lint: any of: ansible/**/*, .gitlab-ci.yml
